{% extends "nav.html " %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title%}HALE |Medicine {% endblock %}</title>
  {% block css %}


  <style>
    *{
        font-family: 'Tektur', sans-serif;
    }
    .medicine_container{
        margin-top: 30px;
        background-color: darkslategray ;
        width: 600px;
        font-family: 'Tektur', sans-serif;
        font-weight: bold;
        color: aliceblue;
        height: 550px;
        border-radius: 30px;
    }
  </style>
  {% endblock %}
  {% block java %}
  {% endblock %}
</head>
<body>

{% block body %}

<center>   
    

<div class="medicine_container">
        
       
         
            
        <div>
            <h2 >Medication info:</h2>
            <table >
                <form action="{% url 'medicine' %}" method="post">
                {% csrf_token %}
                    <tr>
                    <td><label for=""> Patient Name: </label></td>     
                    <td><select name="patientlist" required>
                        <option value="" >select patient</option>
                        {% if selected %}
                        <option value="{{selected.id}}"selected>{{selected.app_Name}}</option>
                       {% endif %}
                        {% for patient in appointsaved %}
                          
                        
                        <option value="{{patient.id}}"><pre>{{patient.app_id}} , {{patient.app_Name}} , {{patient.app_Appointed_doctor}}</pre></option>
                        {% endfor %}
                    </select> <button type="submit">OK</button></td>
                </tr>
                </form>
                {% if selected %}
                  
                
                <form action="{% url 'med2' selected.id %}" method="get">
                 
                    {% endif %}
        <tr>
            <td><label for=""> Generic Name: </label></td>
        <td><input type="text" placeholder="Optional" name="generic_name" required><br></td>
        </tr>
        <tr>
            <td><label for=""> Frequency: </label></td>
            <td><input type="text"placeholder="e.g., daily, twice daily" name="frequency" required><br></td>
            </tr>
        <tr>
            <td><label for=""> Days: </label></td>
            <td><input type="text" name="dosage" required><br></td>
        </tr>
        <script>
            const today = new Date().toISOString().split('T')[0];
            
        </script>
        <tr>
            <td><label for="">Route of administration: </label></td>
        <td><input type="text" placeholder="e.g., oral, IV" name="route"><br></td>
        </tr>
        <tr>
            <td><label for=""> Start date: </label></td>
        <td><input type="date" value="{{ selected.app_startdate|date:'Y-m-d' }}" name="start_date"><br></td>
        </tr>
       
        <tr>
            <td><label for=""> End date: </label></td>
        <td><input type="date" placeholder="optional" name="end_date"><br></td>
        </tr>
        <tr>
            <td><label for=""> Prescribed by: </label></td>
        <td><input type="text" placeholder="doctor name" value="{{selected.app_Appointed_doctor}}" name="priscribedby"><br></td>
        </tr>
        <tr>
            <td><label for=""> Refills Remainnig: </label></td>
        <td><input type="text" placeholder="optional" name="refills_remainging"><br></td>
        
        </tr>
        <tr>
            <th>
                Priscription:

            </th>
            <th><textarea id="" cols="21" rows="4" name="Priscription">{{selected.app_doctor_priscription}}</textarea></th>

        </tr>
    
        <tr>
            <th><button type="submit"style=" margin-top: 20px;border-radius: 30px;background-color: darkslategray;color:white">OK</button></th>


        </tr>
    </form>
        </table>
        </div>
    
    </div>

</div>

</center>
             

{% endblock %}
</body>
</html>